* -text
*.iml text -crlf -binary
*.axl text -crlf -binary
*.c text -crlf -binary
*.css text -crlf -binary
*.html text -crlf -binary
*.java text -crlf -binary
*.js text -crlf -binary
*.json text -crlf -binary
*.jsp text -crlf -binary
*.properties text -crlf -binary
*.txt text -crlf -binary
*.xml text -crlf -binary
*.xsd text -crlf -binary
*.xsl text -crlf -binary
*.rb text -crlf -binary
*.haml text -crlf -binary
*.rake text -crlf -binary
*.sass text -crlf -binary
*.yml text -crlf -binary
*.yaml text -crlf -binary
*.rhtml text -crlf -binary
*.jar binary
LICENSE text -crlf -binary
CHANGELOG text -crlf -binary
Rakefile text -crlf -binary
rakefile text -crlf -binary
Buildfile text -crlf -binary
buildfile text -crlf -binary
*.gemspec text -crlf -binary