[project]
	description = GWT WebSocket Library
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Peter Donald (realityforge)
[access "refs/for/refs/*"]
	read = group user/Peter Donald (realityforge)
	push = group user/Peter Donald (realityforge)
	label-Code-Review = -2..+2 group user/Peter Donald (realityforge)
	label-Verified = -1..+1 group user/Peter Donald (realityforge)
	rebase = group user/Peter Donald (realityforge)
	removeReviewer = group user/Peter Donald (realityforge)
	submit = group user/Peter Donald (realityforge)
[access "refs/heads/*"]
	read = group user/Peter Donald (realityforge)
	create = group user/Peter Donald (realityforge)
	push = +force group user/Peter Donald (realityforge)
	pushMerge = group user/Peter Donald (realityforge)
[access "refs/tags/*"]
	push = +force group user/Peter Donald (realityforge)
	pushTag = group user/Peter Donald (realityforge)
	pushSignedTag = group user/Peter Donald (realityforge)
